.input-group{
	margin: 1rem auto;
	display: grid;
	background: #fff;
	padding: 0.2rem;
	border-radius: 30px;
	grid-template-columns: 70% 30%;
}

h1{
	color: #fff;
  font-weight:800;
  letter-spacing: 2px;
}

.input-group input,button{
	padding: 1rem;
	border: none;
	outline: none;
	border-radius: 30px;
  font-family: montserrat;
}

.input-group input{
  color: #333;
  background: none;
}

.input-group button{
	color: #fff;
	background: dodgerblue;
	cursor: pointer;
}

.input-group button:hover{
	background: #1660a7;
}